fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.43
psycopg2-binary==2.9.11
pydantic-settings==2.10.1
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
boto3==1.40.11
pypdf==5.9.0
pillow==11.3.0
pytesseract==0.3.13
pdf2image==1.17.0
openai==1.101.0
email-validator==2.2.0
PyYAML==6.0.2
